.title {
    font-size: large;
    background-color: rgb(228, 240, 236);
}

.title2 {
    background-color: rgb(228, 240, 236);
    background-size:  231px
}



.title3 {
    background-color: rgb(228, 240, 236);
}

